#macro(pagination $page $formname)
	#if($!{page.getResult().size()} >0 )
	#set($listnum = ($page.linkPageNumbers.size() - 1))
		<div class="help_page">
			<a href="javascript:formsub(1, '$formname')" class="list_pre">首页</a>
			#if($page.isHasPreviousPage())
				<a onclick="formsub($page.previousPageNumber, '$formname');">上一页</a>
			#end
			#foreach( $linkPageNumber in [$page.linkPageNumbers.get(0)..$page.linkPageNumbers.get($listnum)] )
			#if($linkPageNumber==$page.thisPageNumber)
			<a class="active">$linkPageNumber</a>
			#else
			<a href="javascript:formsub($!linkPageNumber);">$linkPageNumber</a>
			#end
			#end

			#if($page.isHasNextPage())
				<a onclick="formsub($page.nextPageNumber,'$formname');">下一页</a>
			#end
				<a href="javascript:formsub($!page.lastPageNumber)" class="list_pre">尾页</a>
		</div>
		<script type="text/javascript" >
			function formsub(pageNumber){
				$("#pageNumber").val(pageNumber);
				$("#$!{formname}").submit();
			}
		</script>
	#end
#end


#macro(paginationAjax $page $div $url $form)
	#if($!{page.getResult().size()} >0 )
		<div class="pagination pagination-centered lighter" style="margin-top:15px!important;">
			<input name="topPrevious" id="topPrevious" type="hidden" value="$page.previousPageNumber"/>
			<input name="topNext" id="topNext" type="hidden" value="$page.nextPageNumber"/>	
			<ol class="pagination text-center">
				<li><a onclick="Util.pageSumbitAndLoad('$div','$url','$form','1');" >首页</a></li>
				#if($page.thisPageNumber > 1)
				<li><a onclick="Util.pageSumbitAndLoad('$div','$url','$form','$page.previousPageNumber');">上一页</a></li>
				#else
				<!-- li><a onclick="">上一页</a></li -->
				#end
	
				#foreach( $linkPageNumber in [$page.linkPageNumbers.get(0)..$page.linkPageNumbers.get($listnum)] )
				#if($linkPageNumber==$page.thisPageNumber)
				<li class="active"><a>$linkPageNumber</a></li>
				#else
				<li><a onclick="Util.pageSumbitAndLoad('$div','$url','$form','$linkPageNumber');" >$linkPageNumber</a></li>
				#end
				#end
	
				#if($page.thisPageNumber == $totalPage)
				<li><a>下一页</a></li>
				#else
				<li><a onclick="Util.pageSumbitAndLoad('$div','$url','$form','$page.nextPageNumber');">下一页</a></li>
				#end
			</ol>
		</div>
  	#end
#end